In [1]:
#####Loading the library

import pandas as pd 
import statsmodels.api as sm

### Loading the Data set

In [46]:
train_data=pd.read_excel(r"C:\Users\HP\Downloads\Data.xlsx")

In [87]:
train_data.head()

,PLAYER,Mat,Inns,NO,2018_Runs,HS,Avg,BF,SR,100,50,4s,6s,2019_Runs
0,Aaron Finch,10,9,1,134,46,16.75,100,134.00,0,0,6,8,160
1,AB de Villiers,12,11,2,480,90,53.33,275,174.54,0,6,39,30,424
2,Abhishek Sharma,3,3,2,63,46,63.00,33,190.90,0,0,3,5,63
3,Ajinkya Rahane,15,14,1,370,65,28.46,313,118.21,0,1,39,5,396
4,Alex Hales,6,6,0,148,45,24.66,118,125.42,0,0,13,6,165

In [49]:
train_data.dtypes

PLAYER        object
Mat            int64
Inns           int64
NO             int64
2018_Runs      int64
HS            object
Avg           object
BF             int64
SR           float64
100            int64
50             int64
4s             int64
6s             int64
2019_Runs      int64
dtype: object

#### converting the object datatype in readable format

In [51]:
j=0
for i in train_data["Avg"]:
    if i=='-':
        train_data["Avg"][j]=0
    j=j+1

C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [53]:
train_data["Avg"]=train_data["Avg"].astype(str).astype(float)

In [81]:
j=0
for i in train_data["HS"]:
    train_data["HS"][j]=re.findall('\d+',str(i))[0]
    j=j+1

C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [82]:
train_data["HS"]=train_data["HS"].astype(str).astype(int)

In [83]:
train_data.dtypes

PLAYER        object
Mat            int64
Inns           int64
NO             int64
2018_Runs      int64
HS             int32
Avg          float64
BF             int64
SR           float64
100            int64
50             int64
4s             int64
6s             int64
2019_Runs      int64
dtype: object

#### Seperating the Data set into X and Y

In [118]:
X=np.array(train_data[["SR","2018_Runs","Avg","HS","BF","NO",100,50,"4s","6s","Inns","Mat"]])
Y=np.array(train_data["2019_Runs"])

#### Using the OLS (linear regression model)
Training

In [119]:
model = sm.OLS(Y, X).fit()

In [120]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.993
Model:                            OLS   Adj. R-squared (uncentered):              0.992
Method:                 Least Squares   F-statistic:                              1000.
Date:                Sun, 18 Oct 2020   Prob (F-statistic):                    1.57e-88
Time:                        21:01:12   Log-Likelihood:                         -448.84
No. Observations:                 100   AIC:                                      921.7
Df Residuals:                      88   BIC:                                      952.9
Df Model:                          12
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1            -0.0890      0.068     -1.306      0.195      -0.225       0.046
x2             0.8210      0.233      3.525      0.001       0.358       1.284
x3            -0.1633      0.317     -0.516      0.607      -0.792       0.466
x4             0.2937      0.208      1.415      0.161      -0.119       0.706
x5             0.1866      0.207      0.901      0.370      -0.225       0.598
x6            -2.2994      2.240     -1.027      0.307      -6.751       2.152
x7           -25.3829     12.649     -2.007      0.048     -50.521      -0.245
x8            -6.7333      4.292     -1.569      0.120     -15.262       1.796
x9            -0.8964      0.777     -1.154      0.252      -2.440       0.647
x10            0.8252      1.198      0.689      0.493      -1.557       3.207
x11            4.5120      1.847      2.443      0.017       0.841       8.183
x12           -1.1730      1.090     -1.076      0.285      -3.339       0.993
==============================================================================
Omnibus:                        2.941   Durbin-Watson:                   2.240
Prob(Omnibus):                  0.230   Jarque-Bera (JB):                2.322
Skew:                           0.341   Prob(JB):                        0.313
Kurtosis:                       3.303   Cond. No.                     1.92e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.92e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

Prediction on Train Data set

In [121]:
model.predict(X)

array([155.31350526, 427.90964668,  50.96198134, 371.77958708,
       154.87440496, 562.02799741, 337.14287824,  43.21276325,
        93.184666  ,  95.88319382, 225.06507006,   5.89594832,
       127.6503114 ,  81.9264365 , 341.93468387, 473.80584019,
        32.70382964,  18.89227695, 140.11199885,  67.04730455,
        25.50558923,  29.55403454, 130.42026368,  70.67295617,
        43.92098271,  99.84610806, 461.14113378, 140.05887224,
       388.13373635, 160.98499376,  93.42121738, 195.04354666,
        23.7794684 , 266.5567899 ,  44.92061753,  58.46375476,
       279.82023223, 131.88766786,  44.01170346,  27.40908943,
       494.43942644,  32.13054638, 664.83110478, 303.52108132,
        22.93847247, 140.90597853, 592.45284282, 136.48440386,
       235.7289333 ,  15.30726986,  69.33919705, 269.28346767,
       283.43538247,  52.13134749, 102.73200926, 142.02874953,
        13.92960253,   1.35835769,  79.65677657,  10.29415513,
        16.1624474 , 438.55085082, 321.70200059, 140.39200367,
        30.88180105, 232.63519663, 204.30944138,  47.96898595,
       240.94632516,  54.64259494, 115.06751667,  96.65509492,
        34.55025146, 603.56975419, 375.21449111, 302.95483016,
       119.72003068, 447.72759437,  54.35288155, 243.83403767,
       509.73378227, -24.77905152, 462.59127013,  11.40048306,
        47.97443203,  42.24461557, 408.91135044, 191.36275099,
        52.58604055, 352.71913683, 417.12065222, 473.61768159,
        47.94540186,  28.02400679, 206.88163114, 494.11944032,
        62.74936834, 129.53447205, 268.91214572,  77.12125648])

#### Loading the test Data set

In [149]:
test_data=pd.read_excel(r"C:\Users\HP\Downloads\Data (2).xlsx")

In [150]:
test_data.head()

,PLAYER,Mat,Inns,NO,2019_Runs,HS,Avg,BF,SR,100,50,4s,6s
0,David Warner,12,12,2,692,100*,69.2,481,143.86,1,8,57,21
1,KL Rahul,14,14,3,593,100*,53.9,438,135.38,1,6,49,25
2,Quinton de Kock,16,16,1,529,81,35.26,398,132.91,0,4,45,25
3,Shikhar Dhawan,16,16,1,521,97*,34.73,384,135.67,0,5,64,11
4,Andre Russell,14,13,4,510,80*,56.66,249,204.81,0,4,31,52

In [151]:
test_data.dtypes

PLAYER        object
Mat            int64
Inns           int64
NO             int64
2019_Runs      int64
HS            object
Avg           object
BF             int64
SR           float64
100            int64
50             int64
4s             int64
6s             int64
dtype: object

#### Converting the test dataset into readable format

In [152]:
j=0
for i in test_data["Avg"]:
    if i=='-':
        test_data["Avg"][j]=0
    j=j+1

C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [154]:
test_data["Avg"]=test_data["Avg"].astype(str).astype(float)

In [155]:
j=0
for i in test_data["HS"]:
    test_data["HS"][j]=re.findall('\d+',str(i))[0]
    j=j+1

C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [156]:
test_data["HS"]=test_data["HS"].astype(str).astype(int)

In [157]:
test_data.dtypes

PLAYER        object
Mat            int64
Inns           int64
NO             int64
2019_Runs      int64
HS             int32
Avg          float64
BF             int64
SR           float64
100            int64
50             int64
4s             int64
6s             int64
dtype: object

In [158]:
X_test=np.array(test_data[["SR","2019_Runs","Avg","HS","BF","NO",100,50,"4s","6s","Inns","Mat"]])

In [163]:
prediction=model.predict(X_test) 
p=[int(i) for i in list(prediction)] 
j=0
for i in p:
    if i<0:
        p[j]=0
    j=j+1

In [164]:
players=test_data["PLAYER"]
Predicted_Scores_2020=p

In [165]:
df = pd.DataFrame(list(zip(players, Predicted_Scores_2020)), columns =['PLAYERS', '2020_Runs']) 
df

              PLAYERS  2020_Runs
0        David Warner        585
1            KL Rahul        527
2     Quinton de Kock        519
3      Shikhar Dhawan        479
4       Andre Russell        482
..                ...        ...
95  Carlos Brathwaite          7
96      Ishant Sharma          0
97    Shakib Al Hasan          3
98         Pawan Negi         12
99        Tim Southee          1

[100 rows x 2 columns]

Saving the results in csv format

In [167]:
df.to_csv(r"C:\Users\HP\Downloads\predicted_2020_ipl_run.csv")